:root {
    --primary-color: #f3f9f3;
    --secondary-color: #f4a261;
    --accent1-color: #264653;
    --accent2-color: rgb(53, 53, 123);
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
}

header {
    background-color: var(--primary-color);
    color: var(--accent2-color);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;
}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--accent2-color);
    text-align: center;
}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;
}

.socialmedia a {
    text-decoration: none;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

h1 {

    text-align: center;
    opacity: 0.7;
    color: #252323;
}

.hero article img {
    float: right;
    width: 125px;
}

.hero article {

    position: absolute;
    top: 150px;
    padding: 16px;
    opacity: 0.8;
    background-color: var(--secondary-color);
    color: black;
}

footer {
    background-color: var(--primary-color);
}

.grid {
    display: grid;
    grid-template-columns: auto 1fr;
}

.flex {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}

ul,
a {
    display: block;
    text-decoration: none;
}

.socialmedia {
    display: flex;
    justify-content: flex-end;
}

.history {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    align-self: center;

}

.history img {
    width: 250px;

}

.adventure {
    display: flex;
    align-items: center;
    column-gap: 30px;
    align-content: space-around;
    justify-content: center;
}

.adventure img {
    width: 120px;
}

.profile {
    text-align: center;
    padding: 0px;
}

.contact {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 10px;
}

.contact-form {
    padding: 10px;
}

.purpose {
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 10px;
    align-items: flex-start;
}

input,
textarea {
    padding: 5px;

}

textarea {
    width: 400px;
}

button {
    width: 400px;
    background-color: navy;
    color: #f3f9f3;
    padding: 6px;
    border: none;
    border-radius: .5rem;
    font-size: 1.2rem;
}

button:hover {
    background-color: #252323;
}

.employee-profile {
    border: 1px solid black;
}