table {
    border-collapse: collapse;
    border: 1px solid rgb(140 140 140);
    letter-spacing: 1pm;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
}

th,
td {
    border: 2px solid rgb(140 140 140);
    padding: 10px;
    text-align: center;
}

thead,
th,
tfoot tr {
    background-color: black;
    color: azure;
    font-weight: 800;
}