* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-color: darkblue;
    --general-border: 1px;
    --general-text-align: center;
    --margin-padding: 1rem;
}

nav {
    background-color: var(--main-color);
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: var(--main-color);
}

main img {
    width: 200px;
    padding: var(--general-border);
    height: auto;
    border: var(--general-border) solid black;
    box-shadow: 0 0 30px gray;
    float: right;
}

p {
    padding: 0;

}

main {
    max-width: 840px;
}

aside {
    width: 20rem;
    margin: var(--margin-padding);
    border: var(--general-border) solid rgb(0 0 0/0.2);
    padding: var(--margin-padding);
    /* background-color: #eee;
    color: #333; */
    text-align: var(--general-text-align);
    position: relative;
}

aside img {
    width: 200px;
    height: auto;
}

aside h2 {
    position: absolute;

    left: 100px;
    top: 47px;
}

footer {
    margin-top: 15px;
    border-top: var(--general-border) solid #000;
    text-align: var(--general-text-align);
}

/* Class Selectors */
.box {
    margin: var(--margin-padding);
    padding: var(--margin-padding);
    background-color: rgb(52, 50, 50);
    color: rgb(249, 240, 240);
}